<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726702598766-6hh9clomkqgp7m12817u1s8peqmefp4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726702598766-6hh9clomkqgp7m12817u1s8peqmefp4s</string>
	<key>API_KEY</key>
	<string>AIzaSyDqJ1DV6en1uMqLTwppLhV7PwI8cJVnMV0</string>
	<key>GCM_SENDER_ID</key>
	<string>726702598766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fauna.app</string>
	<key>PROJECT_ID</key>
	<string>fauna-app-2d716</string>
	<key>STORAGE_BUCKET</key>
	<string>fauna-app-2d716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726702598766:ios:ebcff4576276e40dce147f</string>
</dict>
</plist>